---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import '../styles/global.css'
const pageTitle = "Hello, Amrit"
---

<Layout title={pageTitle}>
	<main class="py-4">
			<Card title="Click to open your present" href="/writing/birthday-wish" src="/images/flower.svg" />
	</main>
</Layout>

