---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Umrith's Blog">
	<main class="py-4">
		<h1 class="text-md">This space is reserved for your words.</h1>
	</main>
</Layout>