---

---
<nav class="flex items-baseline justify-between">
  <a class="text-4xl" href="/">amrit</a>
  <ul>
    <li class="inline mr-2">
      <a href="/blog" class="">writing</a>
    </li>
  </ul>
</nav>
